---
- name: Download k3s binary x64
  ansible.builtin.get_url:
    url: https://github.com/rancher/k3s/releases/download/{{ k3s_version }}/k3s
    dest: /usr/local/bin/k3s
    owner: root
    group: root
    mode: "0755"
  when: ansible_facts.architecture == "x86_64"
  notify: restart k3s

- name: Download k3s binary arm64
  ansible.builtin.get_url:
    url: https://github.com/rancher/k3s/releases/download/{{ k3s_version }}/k3s-arm64
    dest: /usr/local/bin/k3s
    owner: root
    group: root
    mode: "0755"
  when:
    - ( ansible_facts.architecture is search("arm") and ansible_facts.userspace_bits == "64" ) or ansible_facts.architecture is search("aarch64")
  notify: restart k3s

- name: Download k3s binary armhf
  ansible.builtin.get_url:
    url: https://github.com/rancher/k3s/releases/download/{{ k3s_version }}/k3s-armhf
    dest: /usr/local/bin/k3s
    owner: root
    group: root
    mode: "0755"
  when:
    - ansible_facts.architecture is search("arm")
    - ansible_facts.userspace_bits == "32"
  notify: restart k3s
