[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
{% if inventory_hostname != hostvars[groups[k3s_master_group][0]]['inventory_hostname'] %}
Environment=K3S_TOKEN={{ hostvars[groups[k3s_master_group][0]]['k3s_node_token'] }}
{% endif %}
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server \
{% if inventory_hostname == hostvars[groups[k3s_master_group][0]]['inventory_hostname'] %}
  --cluster-init \
{% endif %}
{% if k3s_external_ip | length > 0 %}
  --node-external-ip={{ k3s_external_ip }} \
{% endif %}
{% if k3s_internal_ip | length > 0 %}
  --node-ip={{ k3s_internal_ip }} \
{% endif %}
{% if k3s_master_disable is defined and k3s_master_disable is iterable %}
  --disable={{ k3s_master_disable|join(',') }} \
{% endif %}
{% if inventory_hostname != hostvars[groups[k3s_master_group][0]]['inventory_hostname'] %}
  --server https://{{ k3s_master_ip }}:{{ k3s_master_port }} \
{% endif %}
  --flannel-backend={{ k3s_flannel_backend }} {{ k3s_master_extra_args | default("") }}
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
