server: https://{{ k3s_master_ip }}:{{ k3s_master_port }}
{% if k3s_external_ip | length > 0 %}
node-external-ip: {{ k3s_external_ip }}
{% endif %}
{% if k3s_internal_ip | length > 0 %}
node-ip: {{ k3s_internal_ip }}
{% endif %}
{% if k3s_agent_additional_config is defined and k3s_agent_additional_config | length > 0 %}
{{ k3s_agent_additional_config | to_nice_yaml }}
{% endif %}
